html { @include box-sizing(border-box); }
*,*:before,*:after { box-sizing: inherit; margin:0; padding:0;}

/* from HTML5 boilerplate */
input[type="radio"] { vertical-align: text-bottom; } 
input[type="checkbox"] { vertical-align: bottom }
textarea { overflow: auto; -webkit-overflow-scrolling: touch;}

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer }
article, aside, details, figcaption, figure, footer, header, menu, nav, section { display: block; position: relative; }

/* some reset and other commonly used styles */
html { font-size: 100%; }
a { text-decoration: none; }
img { display: inline-block; max-width: 100%;}
.valign { display: inline-block; vertical-align: middle; }
img.valign { display: inline !important; vertical-align: middle !important; }
img.alignright {float:right; margin: 5px 0 14px 10px !important; clear: right; max-width: 40%;}
img.alignleft {float:left; margin: 5px 14px 10px 0 !important; clear: left; max-width: 40%;}
img.aligncenter { margin: 0 auto 16px; display: block;}
a img {  border-width:0; }
ul { list-style: none; }
fieldset { border-width:0; }
address { font-style: normal; }
table caption { text-align: left; }
.center { text-align: center; }
.hidden { display: none; }
.i-hidden { display: none !important; }
.block { display: block; }
.ib { display: inline-block; }
img.block { margin: 0 auto; }
.uc { text-transform: uppercase; }
.alleft { text-align: left; }
.alright { text-align: right; }
.alleft-i { text-align: left !important; }
.alright-i { text-align: right !important; }
.f-right { float: right; }
.f-left { float: left; }

@mixin cf {
	&:after {
		content: "."; display: block; height: 0; line-height:0;clear: both; visibility: hidden; 
	}
}
.cf:after { @include cf(); }

/* ios scroll fix */
.scroll-fix { overflow-y: auto; overflow-x: hidden; }
.ios .scroll-fix-parent { -webkit-overflow-scrolling: touch; overflow: scroll !important;}
.ios .scroll-fix { -webkit-overflow-scrolling: touch; overflow: scroll !important;}
.ios .scroll-fix,
.ios .scroll-fix>* {
	@include transform( translateZ(0) );
}