$navTopHeight: 45px;
$navHeight: 98px;

$smallNavDuration: 0.25s;
$smallNavEasing: $ease-in-out-sine;


header {
	position: fixed;
	top:0; left:0; right:0;
	z-index: 11;
	@include transform( translateZ(0) );
}

.header-logo {
	width: 170px;
	display:block;
	position: absolute;
	top: 52px; left:0;
	@include transition( all $smallNavDuration $smallNavEasing );
	@include transform-origin( center top );
	.small-nav & {
		@include transform( scale(0.65,0.65) translate3d(0,-78px,0) );
	}
	
}

@media screen and (max-width: $collapseNavAt) {

	header {
		background: rgba(255,255,255,0.97);
	}

	.header-logo { 
		position: static;  
		right:0;
		margin: 5px auto;
		background: url(../images/glencrest-art.svg) center no-repeat;
		background-size: contain;
		
		img { 
			height: 40px; 
			display: block;
			visibility: hidden;
			margin: 0 auto;
		}
	}
	
}