.toggle-nav { 
	outline: none;
	color: $blueColor;
	display: none;
	position: fixed;
	background: transparent;
	top: 5px; left: 5px;
	z-index: 24;
	height: 42px;
	padding: 10px 10px 10px 40px;
	font-weight: 500;
	@include transition( 0.2s all $ease-in-out-sine 0s );
	text-transform: uppercase;
	
	@media screen and (max-width: 600px) {
		font-size:0;
		padding-left: 30px;
	}
		
	.show-nav &,
	&:hover {
		background: $blueColor;
		color:#fff;
		span { 
			&,
			&:before,
			&:after { border-top-color: #fff; }
			
			.show-nav & { border-top-color: #fff; }
		}
	}
	
	
	span {
		width: 20px; height: 10px;
		left:10px;
		margin-top: -1px;
		position: absolute;
		top: 50%;
		border-top:  2px solid $blueColor;
		
		&,
		&:before,
		&:after {
			@include transition( all 0.2s $ease-in-out-sine 0s );
		}
		
		.show-nav & { border-top-color: $blueColor !important; left: 16px;}
		
		&:before,
		&:after {
			content:"";
			position: absolute;
			top: -9px; 
			left:0; right:0;
			border-top: 2px solid $blueColor;
			@include transform-origin( top left );
			.show-nav & {
				margin-left: -1px;
				@include transform( rotate3d(0,0,1,45deg) );
			}
			
		}
		
		&:after { 
			top: auto; bottom:1px;
			@include transform-origin( bottom left );
			.show-nav & { @include transform( rotate3d(0,0,1,-45deg) ); }
		}
		
	}
	
}

.mobile-toggle-search { 
	display: none; 
	position: fixed;
	top: 5px; right: 5px;
	color: $blueColor;
	width: 42px; height: 42px;
	font-size: 24px;
	z-index: 24;
	@include transition( 0.2s all $ease-in-out-sine 0s );
	.show-search &,
	&:hover {
		background: $blueColor;
		color: #fff;
	}
}


.nav {
	padding-top: 45px;
	position: fixed;
	border-bottom: 1px solid #ccc;
	top:0; left:0; right:0;
	z-index: 10;
	background: rgba(255,255,255,0.97);
	&:before {
		content:"";
		position: absolute;
		top:0; left:0; right:0; 
		height: 45px;
		background: $blueColor;
	}
}

.nav-top {
	position: absolute;
	top:-45px; left:0; right:0;
	color: #fff;
	
	@include display( flex );
	@include justify-content( flex-end );
	@include align-items( center );
	
}

.nav-top-items {
	span {
		border-right: 1px solid #fff;
		line-height:1;
		padding: 0 8px;
	}
}

.global-search-form {

	height: 45px; width: 45px;

	.nav-top & {
		background: $blueColor;
		border: none;
	}
	
	::-webkit-input-placeholder { background: none; color: #ffffff; }
	::-moz-placeholder { border: none; color: #fff; }
	:-moz-placeholder { padding:0; color: #fff; }
	:-ms-input-placeholder { margin:0; color: #fff; }
	:placeholder { text-shadow: 0 0 0 #000; color: #fff; }
	input { color: #fff; }
	
	&:after,
	input { display: none; }
	.search-close { display: none; }
	
	.show-search & {
		width: 320px;
		.search-close,
		input { display: block; }
		.search-close {
			@include order( -1 );
		}
		
	}
	
	button { 
		color: #fff; 
		width: 45px; height: 45px;
		&:hover {
			background: #fff;
			color: $blueColor;
		}
	}

}

nav {
	padding: 30px 0 30px 200px;
	@include transition( padding $smallNavDuration $smallNavEasing );
	
	.small-nav & {
		padding: 10px 0 10px 200px;
	}
	
	ul {
		@include display( flex );
		@include justify-content( flex-end );
	}
	
	li { margin-left: 20px; }
		
	a {
		color: #333;
		text-transform: uppercase;
		display: block;
		padding: 8px 10px;
		line-height: 22px;
		border-radius: 4px;
		position: relative;
		
		&:hover,
		&.active {		
			color: #fff;
			background: $blueColor;
		}
		
	}
}

/* small nav */
.nav {
	@include transition( transform $smallNavDuration $smallNavEasing );
	.small-nav & {
		@include transform( translate3d(0, -$navTopHeight, 0) );
		box-shadow: 0 2px 4px rgba(0,0,0,0.4);
	}
}

/* collapsed nav */
@media screen and (max-width: $collapseNavAt) {

	.show-nav html,
	.show-nav body { height: 100vh; }

	.mobile-toggle-search,
	.toggle-nav {  display: block;  }

	.nav-top {
		position: static;
		display: block;
		padding:0 0 40px;
		text-align:left;
		button { display: none; }
		
		.global-search-form {
			border: 1px solid #fff;
			position: absolute;
			top:10px; left:0; right:0;
			width:100%;
			
			input,
			.fa-search { display: block; }
		}
		
	}
	
	.nav-top-items {
		text-align:center;
		span { border: none; }
	}
	
	.nav {
		height: 100vh !important;
		position:fixed;
		top:0; left:0; right:0;
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		@include transform( translate3d(0,-100vh,0) !important );
		background: rgba($blueColor,0.9);
	
		.show-nav & { @include transform( none !important ); }
	}
	
	nav {
		text-align: left;
		padding-left:0;
		padding-top: 60px;
		
		ul { display: block; }
		
		li { 
			text-align:right;
			display: block; 
			margin:0;
			
			&.expanded a,
			a:focus,
			&:hover a {
				background: darken($blueColor,20);
			}
			
		}
		
		a {
			border-radius:0;
			font-size: 18px;
			border: none;
			color: #fff;
		}
	}
	
}