$footerBackgroundColor: #000 !default;
$footerContentColor: #fff !default;
$footerLinkColor: #000 !default;
$footerHoverColor: #000 !default;

$copyrightBackgroundColor: #000 !default;
$copyrightContentColor: #000 !default;
$copyrightLinkColor: #000 !default;
$copyrightHoverColor: #000 !default;
$copyrightSeparatorColor: #000 !default;

/* footer */
footer {
	z-index: 7;
	font-weight: 300;
	background-color: $footerBackgroundColor;
	color: $footerContentColor;
	
	a {
		color: $footerLinkColor;
		&:hover { color: $footerHoverColor;}
	}
	
	.social a:after {
		@include transition-duration( 0.4s );
		@include transition-timing-function( $ease-out-back );
	}
}


/* copyright */
.copyright { 
	background-color: $copyrightBackgroundColor;
	color: $copyrightContentColor;
	position: relative; 
	font-size: 12px; 
	text-transform: uppercase; 
	cursor: default; 
	
	.sw {
		@include display( flex );
		@include flex-flow( row wrap );
		@include justify-content( space-between );
		@include align-items( center );
	}
	
	a {
		color: $copyrightLinkColor;
		&:hover { color: $copyrightHoverColor; }
	}
	
	ul {
		position: relative; 
		z-index: 10; 
		display: inline-block;
		padding: 12px 0;
	}
	
	li {
	
		display: inline-block; 
		border-left: 1px solid $copyrightSeparatorColor;
		margin-right: -0.25em; 
		margin-left: 5px; 
		padding-left: 5px; 
		line-height: 1;
	
		&:first-child {
			margin-left:0; 
			padding:0; 
			border: none; 
		}
	
	}
	
}

#jac { width: 186px; height: 25px; background-size: 186px 50px; }

@media screen and (max-width: 800px) {
	.copyright li { display: block; border: none; margin:0; padding:4px 0 !important; font-size: 14px;}
}

.copyright { border-top: 1px solid #fff; }
.footer-wrap { 
	@include display( flex );
	@include flex-flow( row wrap );
	@include align-items( center );
	@include justify-content( space-between );
	
	.social {
		a { 
			border-radius: 50%; 
			&:hover { background: #fff; }
		}
	}
}

.footer-nav { 
	text-transform: uppercase;
	li { display: inline-block; }
	a {
		display: block;
		padding: 12px 8px;
		&:hover {
			background: #fff;
			color: $blueColor;
		}
	}
}

@media screen and (max-width: 700px) {
	.footer-wrap,
	.footer-nav li { display: block; }
	
	.footer-nav { padding: 20px 0 0;}
	.footer-wrap .social { 
		margin: 20px 0;
		@include justify-content( center );
	}
}