/* hero */
.hero {
	
	background: #000; 
	position: relative;
	
	&:before {
		position: absolute;
		top:0; left:0; right:0;
		height: $navTopHeight + $navHeight;
		background: #fff;
		content:"";
	}
	
	.big-fader {
		height: 100vh;
		min-height: 500px;
		max-height: 800px;
	}
	
	.slick-list { height: 100%; }
	
	.fader-item,
	.slick-track {
		height: 100%;
	}
	
	.fader-item {
		position: relative;
		background-color: #000;
		@include display( flex );
	}
	
	.fader-item-bg {
		position: absolute;
		top:0; left:0; right:0; bottom:0;
		background-color: #000;
		background-position: center;
		background-size: cover;
	}
	
}

.hero-caption {
	position: absolute;
	bottom:0; left:0; right:0;
	background: #fff;
	padding: 20px 0;
	border-bottom: 1px solid #dedede;
	
	.title,
	.subtitle { 
		display: block; 
		margin:0;
	}
	
	.subtitle { 
		color: $blueColor; 
		font-size: 20px;
	}
}

.hero-caption-content {
	@include display( flex );
	@include justify-content( space-between );
	@include align-items( center );
	@include flex-flow( row wrap );
}

.hero.with-content {
	.fader-item {
		background: $lightBlueColor;
	}
	
	.hero-caption {
		background: transparent;
		top:0;
		text-align:center;
		@include display( flex );
		@include flex-flow( column nowrap );
		@include justify-content( center );
	}
	
	.hgroup-title {
		font-weight:600;
		&:after {
			background: $blueColor;
		}
	}
	
	.hero-caption-content {
		display: block;
		margin: 0 auto;
		width: 700px;
		max-width: 100%;
		p { font-size: 18px; }
	}
}

@media screen and (max-height: 600px) {
	.hero.with-content {
		.big-fader {
			height: auto;
			max-height: none;
			min-height:0;
		}
		
		.hero-caption {
			position: static;
		}
		
		.fader-item {
			min-height:100vh;
		}
	}
}