.social {

	cursor: default;
	@include display( flex );

	a {
		width: 28px; height: 30px;
		@include t-fa-abs();
		&:before { 
			color: #fff;
			font-size: 18px;
		}
		&:hover {
			&:before { color: $blueColor; }
		}
	}
	
}

.social-fb:before { content: $fa-var-facebook; }
.social-tw:before { content: $fa-var-twitter; }
.social-in:before { content: $fa-var-linkedin; }
.social-rss:before { content: $fa-var-rss; }