.grey-bg { background: #dbe7f1; }
.blue-bg { background: $blueColor; }

$mwSizes: (75,50,25);
[class*=mw] { margin-left: auto; margin-right: auto; }
@each $mw in $mwSizes {
	.mw-#{$mw} { 
		max-width: #{$mw} + '%'; 
	}
}

.small-wrap {
	width: 800px;
	margin: 0 auto;
	max-width: 100%;
}

.bordered { border: 1px solid #e8e8e8; }

.page-wrapper { border: 1px solid transparent; }

.hero {
	background: #fff;
	.big-fader  {
		padding-top: $navTopHeight+$navHeight;
		
		@media screen and (max-width: $collapseNavAt) {
			& { padding-top: 50px;}
		}
		
	}
	
}

.hero .video-link {
	position: absolute;
	top:0; left:0; right:0; bottom:100px;
	text-align: center;
	color: #fff;
	@include display( flex );
	span {
		display: block;
		margin: auto;
		text-transform: uppercase;
		opacity: 0.7;
		font-weight: 600;
		font-size: 14px;
		@include transition( 0.15s opacity $ease-in-out-sine );
		&:before {
			display: block;
			font-size: 28px;
			width: 54px; height: 54px;
			text-indent: 4px;
			line-height: 54px;
			margin: 0 auto 5px;
			border-radius: 50%;
			border:1px solid #fff;
		}
	}
	
	&:hover span {
		opacity:1;
	}
}

.fader-wrap {
	position:relative;
}

.fader { margin-bottom:0; }

.fader-item {

	position: relative;
	opacity:0;
	background: center no-repeat;
	background-size: cover;
	@include transition( 0.3s opacity $ease-in-out-sine );
	&.loaded { opacity:1; }
}

/* search page */
.search-grid {
	.col { 
		width: 33%; 
		@media screen and (max-width: 800px) { width: 50%; }
		@media screen and (max-width: 600px) { width: 100%; }
	}
	.item {
		background: #f5f5f5;
		padding: 20px 20px 80px;
		position: relative;
	}
	
	.button {
		position: absolute;
		bottom:20px; left:20px; right: 20px;
		text-align:center;
	}
	
	.hgroup { text-align: center; }
	
	.hgroup-title { 
		font-size: 18px; 
		color: $blueColor;
		&:after { background: $blueColor; }
	}
	
}

.filter-bar-title { 
	display: block; 
	font-size: 24px;
	color: $blueColor;
}
.filter-bar-subtitle { 
	color: #828282;
	display: block;
}

/* sidebar */
.sidebar { 
	.mod {
		margin: 0 0 20px;
	}
	
	.mod-title {
		background: $lightBlueColor;
		font-weight: 600;
		color: #fff;
		text-transform: uppercase;
		padding: 12px;
		margin:0;
	}
}

/* archives module */
.archives-mod {
	
	.acc-item-content {
		padding:10px 0;
		a {
			color: $bodyContentColor;
			display: block;
			padding: 4px 20px;
			&:hover {
				color: #fff;
				background: $blueColor;
			}
		}
	}
}

/* team member */
.tm-wrap {
	border-radius: 50%;
	display:block;
	margin: 0 auto 10px;
	overflow:hidden;
	@include perspective( 1px );
	
	&.sm { width: 150px; }
	
	.tm {
		height:0;
		padding:0 0 100%;
	}
}

.tm-name { display:block; }
.tm-title {
	display: block;
	font-style: italic;
	margin: 0 0 10px;
}

/* ov grid */
.ov-grid {
	.col { 
		width: 33.33333%; 
		@media screen and (max-width: 800px) { 
			width: 100%;  
			.item {
				max-width: 100%;
				width: 450px;
				margin: 0 auto 20px;
			}
		}
	}
	
	.item {
		padding: 20px;
		&:hover { background: #efefef; }
	}
	
	p {
		color: $bodyContentColor;
	}
}

.img-time {
	margin: 0 0 10px;
	
	time { 
		position: absolute;
		top:0; left:0; right:0; bottom:0;
		@include display( flex );
		@include flex-flow( column nowrap );
		z-index: 2;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		background: rgba($blueColor,0.4);
	}
	
	.t-wrap {
		margin: auto;
		font-size: 16px;
		font-weight: 600;
	}
	
	.year {
		display: block;
		font-size: 28px;
	}
}

.embellished-blockquote {
	padding: 10px 30px;
	position: relative;
	font-size: 20px;
	text-align:center;
	&:before,
	&:after {
		position: absolute;
		font-size: 20px;
		color: $lightBlueColor;
		@include fa-icon();
	}
	
	&:before { 
		content: $fa-var-quote-left;
		top:0; left:0;
	}
	&:after { 
		content: $fa-var-quote-right;
		right:0; bottom:0;
	}
}

/* contact form */
.contact-form {
	.field-wrap:before {
		color: $lightBlueColor;
	}
}

.contact-grid {
	&>.col { 
		width: 50%; 
		@media screen and (max-width: 900px) {
			& { width: 100%;  }
		}
	}
	
	@media screen and (max-width: 950px) {
		.grid .col { width: 100%;  }
	}
	
}

.embedded-gmap-wrap {
	@include display( flex );
	background: #000;
	position: relative;
	border: 1px solid #fff;
	height:0;
	padding: 0 0 56.25%;
	overflow:hidden;
}

.embedded-gmap {
	&,
	& iframe {
		position: absolute; 
		left:0; right:0; top:0; bottom:0; 
		width: 100%; height: 100%; 
	}
}

/* map-status-photos */
.msp-section { 
	background: #f1f1f1;
	padding:0 !important;
	
	.pad-wrap { padding: 0 70px; }
	
}

.msp-selector {
	position: absolute;
	top: 20px; left: 0; right:0; 
	text-align: center;
	.selector {
		display: inline-block;
		min-width: 200px;
		box-shadow: 0 0 12px rgba(0,0,0,0.8);
		border: 1px solid #fff;
	}
}

.msp-controls {
	position: absolute;
	top:60px; left:0;
	border: 1px solid #fff;
	box-shadow: 0 0 12px rgba(0,0,0,0.8); 
	button {
		display: block;
		color: #fff; 
		font-size: 11px;
		background: $blueColor;
		text-transform: uppercase;
		width: 56px;
		padding: 6px;
		&:before { font-size: 22px; }
		span { display: block; }
		&.selected,
		&:hover { background: $lightBlueColor; }
	}
}

/* msp-map */
.msp-map {
	margin:0;
	height: 100vh;
	max-height: 800px;
	min-height: 500px;
}

/* msp-status */
.msp-status-tab { padding: 40px 0 0; }
.msp-grid {
	.col { 
		width: 50%; 
		@media screen and (max-width: 600px) { width: 100%; }
	}
	
	
	
	
	.hgroup {
		text-align: center; 
	}
	
	.hgroup-title:after {
		margin: 3px auto;
		background: $lightBlueColor;
		width: 30px;
	}
	
	.hgroup-subtitle {
		font-style: italic;
		font-size: 14px;
		color: #707070;
	}
	
	.item { 
		background: #fff; 
		padding: 20px 20px 80px;
		position: relative;
		
		.button {
			position: absolute;
			bottom: 20px; left: 20px; right: 20px;
		}
	}
}

/* msp-photos */
.msp-photos-tab { 
	padding: 40px 0;
	.slick-dots { display: none !important; }
}

.msp-lg-images {

	margin: 20px 0;
	
	.swipe-item {
		display: block;
		height: 80vh;
		min-height: 400px;
		max-height: 700px;
		position: relative;
		@include display( flex );
		
		img,
		span {
			opacity:0;
			margin: auto;
			@include transition( 0.2s opacity $ease-in-out-sine );
		}
		
		&.loaded {
			img,
			span { opacity:1; }
		}
		
		span {
			position: absolute;
			top:0; left:0; right:0; bottom:0;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
		
	}
	
}

.msp-sm-images {
	background: $blueColor;
	padding: 30px 0;
	position: relative;
	border-bottom: 1px solid #fff;
	
	.slick-prev,
	.slick-next {
		cursor: pointer;
		position: absolute !important;
		top: 50%; margin-top: -20px;
		@include t-fa-abs();
		width: 40px; height: 40px;
		color: #fff;
		font-size: 28px;
	}
	
	.slick-prev { 
		left: -40px;
		&:before { content: $fa-var-chevron-left; }
	}
	.slick-next {
		right: -40px;
		&:before { content: $fa-var-chevron-right; }
	}
	
	.swipe-item {
		div {
			cursor: pointer;
			margin: 0 20px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			height: 140px;
			border: 3px solid #cbd8e4;
		}
		
		&:hover,
		&.slick-center {
			div {
				border-color: $lightBlueColor;
			}
		}
	}
	
}

/* map-status-photos responsive */
@media screen and (max-width: 750px) {
	.msp-section {
		.pad-wrap { 
			padding:0;
			&.small-wrap { max-width: 95%; }
		}
	}

	.msp-selector { 
		position: static; 
		.selector {
			display: block;
			box-shadow: 0 0 0 #000;
			margin:0;
			border: none;
		}
	}

	.msp-controls {
		position: static;
		@include display( flex );
		button {
			width: auto;
			@include flex( 1 1 auto );
		}
	}
	
	.msp-photos-tab,
	.msp-status-tab { padding:0; }
	
	.msp-sm-images { display: none; }
	
	.msp-photos-tab {
		.slick-dots {
			@include display( flex !important );
			@include justify-content( center );
			
			button {
				@include t-fa-abs();
				width: 24px; height: 24px;
				color: $lightBlueColor;
				&:before { content: $fa-var-circle-o; }
			}
			
			li:hover button,
			.slick-active button {
				&:before { content: $fa-var-circle; }
			}
		}	
	}
	
}